<tr>
  <td><%= bad_bit.bad_bit %></td>
  <td><%= @r2d2_debug.mem_refdes bad_bit %></td>
  <td><%= bad_bit.memory %></td>
  <td><%= bad_bit.phy %></td>
  <td><%= bad_bit.cycle %></td>
  <td><%= bad_bit.edge %></td>
</tr>
