  <h2 class="view-head">User Listing: <span class="sub-head">List of users that are currently in the database</span></h2>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email ID</th>
      <th>Admin?</th>
    </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name.capitalize %></td>
      <td><%= user.last_name.capitalize %></td>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= link_to 'Display Sessions', user, :class => "button" %></td>
      <td><%= link_to 'Edit', edit_user_path(user), :class => "button" %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => "button" %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'Add New User', new_user_path, :class => "button" %>
