<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
    <title>R2D2 Memory Debug Tool</title>
    <%= stylesheet_link_tag "reset", "text", "960", "layout", "cat6k_debug" %>
    <!--<script type="text/javascript" src="../../../../../jquery/jquery-1.4.2/jquery-1.4.2.min.js"></script>-->
    <!--<script type="text/javascript" src="r2d2_debug.js"></script>-->
    <%= javascript_include_tag :defaults %>
    <!-- helper below has something to do with unobtrusive javascript and protection from CSRF attacks? -->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_16">
      <!-- header -->
      <!-- <div class="header"> -->
        <img class="grid_2 logo" src="/images/logo.gif" alt="Cisco Systems Inc." />
        <!--<h1>Cat 6K Debug Page</h1>-->
      <!-- </div> -->
      <!-- <div class="clear"></div> -->
      <!-- Navigation bar -->
      <div class="grid_14 nav-container">
        <ul class="login-logout">
          <% if current_user %>
            <li>Greetings <%= link_to current_user.first_name.capitalize, current_user %></li>
            <li><%= link_to "log out", logout_path %></li>
          <% end %>
        </ul>
        <div class="clear"></div>
        <!-- changes certain elements based on the active controller -->
        <% case params[:controller] %>
          <% when 'users' %>
            <% header = 'Your Home' %>
            <% sub_header = 'This is your starting point' %>
          <% when 'r2d2_debugs' %>
            <% header = 'Your Home' %>
            <% sub_header = 'This is your starting point' %>
          <% when 'assemblies' %>
            <% header = 'Your Home' %>
            <% sub_header = 'This is your starting point' %>
        <% end %>
        <ul class="nav-bar">
          <li><%= link_to 'Home', current_user %><li>
          <li><%= link_to "Debug", new_r2d2_debug_path %><li>
          <li><a href="#" title="Snake config section">Snake Config</a></li>
          <li><a href="#" title="Rework section">Rework</a></li>
          <li><a href="#" title="Reports section">Reports</a></li>
          <li><%= link_to "Admin", assemblies_path, :class=> 'active' %></li>
        </ul>
      </div>
      <div class="clear"></div>
      <!-- Main content -->
      <div class="grid_16 main-content">
        <div class="main-content-bar">
        <h2><%= header %></h2>
        <p><%= sub_header %></p>
        </div>
        <div class="dyn-content">
          <!-- Warning/Error messages from application --> 
          <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
          <%= content_tag :p, alert, :class => 'alert' if alert.present? %>
          <%= yield %>
        </div>
      </div>
      <div class="clear"></div>
      <div class="grid_16 footer">
        <p>Handcrafted in Oakland, CA</p>
      </div>
    </div> <!-- end of container -->
  </body>
</html>
    
